<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Content Intent</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="theme-color" content="#1b2325">
    <link rel="stylesheet" href="/dist/assets/stylesheets/main.css">
  </head>
  <body>
    <%- include('partials/svg'); %>
    <div id="pagewrapper">
      <div class="container">
        <div class="row">

          <!-- sidenav -->
          <%- include('partials/sidenav'); %>

          <div class="col-desktop-8">
            <!-- header -->
            <%- include('partials/header'); %>

            <!-- chart -->
            <%- include('partials/chart'); %>

            <!-- analytics -->
            <%- include('partials/analytics'); %>

            <!-- report -->
            <%- include('partials/report'); %>
          </div>
        </div>
      </div>
    </div>
    <script src="/dist/assets/javascript/main.js">
    </script>
  </body>
</html>
